{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link href="{% static 'css/materialdesignicons.css' %}" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/compiled.css' %}" rel="stylesheet"/>

    <script src="{% static 'js/jquery-2.1.0.min.js' %}" type="text/javascript"></script>


    <script>
        $(document).on("ready",function(){
            $('input').attr('class','form-control white-text');
            $('select').attr('class','mdb-select');
            $('textarea').attr('class','form-control md-textarea');
        });
    </script>
</head>

<body class="grey-skin" data-spy="scroll" data-target="#scrollspy" data-offset="15">
<script>
    $('.datepicker').pickadate({
        closeOnSelect: false,
        closeOnClear: false
    });

    $('#input_starttime').pickatime({
        twelvehour: true
    });
    $('#input_endtime').pickatime({
        darktheme: true,
        twelvehour: false
    });
</script>

<header>
    {% include 'common/sidebar.html' %}
    {% include 'common/navbar.html' %}
</header>

<main class="a">
    <div class="main-wrapper">
        <div class="container-fluid">
            <div style="margin-top: 70px"></div>
            <div class="row">
                 <!--Grid column-->
    <div class="col-md-12">

        <!--Card-->
        <div class="card card-cascade wider reverse">

            <!--Card image-->
            <div class="view overlay">
                <img src="{% static 'media/' %}{{ project.resource.image }}" class="img-fluid" alt="Material Design for Bootstrap - example photo">
                <a href="#">
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title">
                    <strong>{{ project.name }}</strong>
                </h4>
                <h5 class="indigo-text">
                    <strong>{{ project.resource.name }}</strong>
                </h5>

                <p class="card-text">{{ project.objective }}
                </p>

                {% if user.boss %}
                    <a href="{% url 'create_evaluation' project.pk %}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Crear matriz de evaluación*">
                        <i class="mdi  mdi-function"></i>
                    </a>
                {% endif %}
                <!--Twitter-->
                <a href="{% url 'evaluation_list' project.resource.pk %}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver evaluaciones anteriores">
                    </i><i class="mdi mdi-eye"></i>
                </a>
                <!--Dribbble-->
                {% if user.boss %}
                    <a href="#acciones correctivas" data-toggle="tooltip" data-placement="top" title="" data-original-title="Crear acción corrrectiva*">
                        <i class="mdi mdi-file-image"></i>
                    </a>
                {% endif %}
                <a href="#acciones correctivas" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver acciones correctivas anteriores">
                   </i><i class="mdi mdi-eye"></i>
                </a>

            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->
            </div>
        </div>
    </div>
</main>
<script>
    $("#date-picker-example").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-YYYY'
    });
</script>

<!-----estas son las lib js para que salga el setting user y desplasamiento---->
<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/compiled.js' %}" type="text/javascript"></script>
<script src="{% static 'js/footer-functions.js' %}" type="text/javascript"></script>

<script>
    $('.datepicker').pickadate({
        closeOnSelect: false,
        closeOnClear: false
    });

    $('#input_starttime').pickatime({
        twelvehour: true
    });
    $('#input_endtime').pickatime({
        darktheme: true,
        twelvehour: false
    });
</script>

<div class="drag-target" style="left: 0px; touch-action: pan-y; -moz-user-select: none;"></div>
</body>
</html>