{% load static %}
<!doctype html>
<html lang="en">
<head>    <meta charset="utf-8">
    <title>Test</title>
    <link href="{% static 'css/materialdesignicons.css' %}" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/compiled.css' %}" rel="stylesheet"/>

    <script src="{% static 'js/jquery-2.1.0.min.js' %}" type="text/javascript"></script>


    <script>
        $(document).on("ready",function(){
            //$('input').attr('class','form-control');
            $('textarea').attr('class','form-control md-textarea');
        });
    </script>
</head>

<body class="grey-skin" data-spy="scroll" data-target="#scrollspy" data-offset="15">
<script>
    $('.datepicker').pickadate({
        closeOnSelect: false,
        closeOnClear: false
    });

    $('#input_starttime').pickatime({
        twelvehour: true
    });
    $('#input_endtime').pickatime({
        darktheme: true,
        twelvehour: false
    });
</script>

<style>
     @media(min-width: 1500px ) {
        .a {
            margin-left: 250px;
        }
    }
</style>

<header>
    {% include 'common/sidebar.html' %}
    {% include 'common/navbar.html' %}
</header>

<div style="margin-top: 100px"></div>
<div class="main-wrapper a">
    <div class="container-fluid">
        <section class="section">

            <div class="row">
                <div class="col-md-12 mb-10">
                    <div class="card mx-xl-10">
                        <form action="." method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-header">
                                    <h3>
                                        Crear Recurso
                                    </h3>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="md-form font-weight-light">
                                            <i class="mdi mdi-home prefix grey-text"></i>
                                            {{ form.name }}
                                            {% for error in form.name.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                            <label>Nombre:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="md-form font-weight-light">
                                            <i class="mdi mdi-calendar-clock prefix grey-text"></i>
                                            {{ form.reference_time }}
                                            {% for error in form.reference_time.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        <p style="color: red">{{ msg }}</p>
                                            <label>Epoca de referencia:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="md-form font-weight-light">
                                            <i class="mdi mdi-diamond prefix grey-text"></i>
                                            {{ form.other_values }}
                                            {% for error in form.reference_time.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                            <label>Otros valores:</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="md-form font-weight-light">
                                            <i class="mdi mdi-book-multiple-variant prefix grey-text"></i>
                                            {{ form.alternative_of_use }}
                                            {% for error in form.alternative_of_use.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                            <label>Alternativa de uso:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="md-form font-weight-light">
                                            <i class="mdi mdi-tag prefix grey-text"></i>
                                            {{ form.description }}
                                            {% for error in form.description.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                            <label>Características generales:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="md-form font-weight-light">
                                            <i class="mdi mdi-compass-outline prefix grey-text"></i>
                                            {{ form.direction }}
                                            {% for error in form.direction.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                            <label>Localización:</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="md-form font-weight-light">
                                            <i class="mdi mdi-home-modern prefix grey-text"></i>
                                            {{ form.existing_use }}
                                            {% for error in form.existing_use.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                            <label>Uso actual:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <div class="md-form font-weight-light">
                                            <i class="mdi mdi-home-variant grey-text"></i>
                                            <i class="mdi mdi-home grey-text"></i>
                                            <i class="mdi mdi-nature-people grey-text"></i>
                                            {{ form.type }}
                                            {% for error in form.type.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                            <label>Tipo de recurso:</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-2">
                                        <div class="md-form font-weight-light">
                                            <i class="mdi mdi-shield grey-text"></i>
                                            {{ form.protection_grade }}
                                            {% for error in form.protection_grade.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                            <label>Grado de proteccón:</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6 mb-3">
                                        <div class="md-form">
                                            <div class="file-field">
                                                <div class="btn btn-primary btn-sm float-left">
                                                    <span>Seleccione la imagen:</span>
                                                    {{ form.image }}
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path disabled" type="text" placeholder="Imagen cargada">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="md-form">
                                            <div class="file-field">
                                                <div class="btn btn-primary btn-sm float-left">
                                                    <span>Seleccione un croquis:</span>
                                                    {{ form.outline }}
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path disabled" type="text" placeholder="Imagen cargada">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <div class="options font-weight-light">
                                        <div class="text-center mt-4">

                                            <a href="{% url 'home' %}" class="btn purple-gradient btn-sm waves-effect waves-light">Atras<i class="mdi mdi-keyboard-return prefix white-text ml-3"></i></a>
                                            <button class="btn purple-gradient btn-sm waves-effect waves-light" type="reset">Borrar campos<i class="mdi mdi-eraser prefix white-text ml-3"></i></button>
                                            <button class="btn purple-gradient btn-sm waves-effect waves-light" type="submit">Crear<i class="mdi mdi-content-save prefix white-text ml-3"></i></button>
                                        </div>
                                        <p></p>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6"></div>

            </div>
        </section>
    </div>
</div>
<script>
    $("#date-picker-example").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-YYYY'
    });
</script>

<!-----estas son las lib js para que salga el setting user y desplasamiento---->
<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/compiled.js' %}" type="text/javascript"></script>
<script src="{% static 'js/footer-functions.js' %}" type="text/javascript"></script>

<script>
    $('.datepicker').pickadate({
        closeOnSelect: false,
        closeOnClear: false
    });

    $('#input_starttime').pickatime({
        twelvehour: true
    });
    $('#input_endtime').pickatime({
        darktheme: true,
        twelvehour: false
    });
</script>

<div class="drag-target" style="left: 0px; touch-action: pan-y; -moz-user-select: none;"></div>
</body>
</html>